.title{
    text-align: center;
    font-size: 50px;
    color: #2c3e50;
}

.text{
    text-align: justify;
    font-size: 23px;
    padding: auto;
    background-color:dodgerblue;
    padding-left: 3px;
    color: white;
    border: black solid 1px;
    margin: 30px;
    -webkit-text-stroke: 2px black;
}

.table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color:teal;
    color: white;
}