RewriteEngine On                                                                                                 577Z                                 █
RewriteCond %{REQUEST_FILENAME} !-f                                                                                                                   █
RewriteCond %{REQUEST_FILENAME} !-d                                                                              Context                              █
RewriteRule ^(.*)$ src/index.php?pagina=$1 [QSA,L]